* {
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
header {
  height: 100px;
}
header img {
  width: 100%;
  height: inherit;
}
nav {
  height: 100px;
  padding-top: 30px;
}
nav a {
  background-color: #cccccc;
  color: #3e00ff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 90px 10px 90px;
  border: 1px solid #cccccc;
  border-left: 2px solid #adadad;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -5px;
}
.content {
  width: 80%;
  float: right;
}
.title {
  display: flex;
  border-bottom: 3px solid #b0c748;
  border-left: 3px solid #b0c748;
  height: 50px;
}
.title img {
  margin-right: 2px;
  margin-top: 15px;
  width: 30px;
  height: 30px;
}
.title h2 {
  font-family: sans-serif;
  color: #ffad50;
}
.paragraphe {
  font-family: sans-serif;
  text-indent: 30px;
}
.sideBar {
  width: 20%;
  float: left;
}
.sideBar img {
  padding-left: 50px;
}
